#wrap{
    width:530px;
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
}
        
table{
    margin-left:auto; 
    margin-right:auto;
    border:3px solid skyblue
}
        
td{
    border:1px solid skyblue
}
        
#title{
    background-color:skyblue
}


출처: http://all-record.tistory.com/114?category=733042 [세상의 모든 기록]